:root {
  --text-ligt-red: hsl(0, 100%, 67%);
  --text-orangey-yello: hsl(39, 100%, 56%);
  --text-green-teal: hsl(166, 100%, 37%);
  --text-cobalt-blue: hsl(234, 85%, 45%);

  --bg-pale-blue: hsl(221, 100%, 96%);
  --bg-light-lavander: hsl(241, 100%, 89%);
  --bg-dark-grey-blue: hsl(224, 30%, 27%);
}

/* Reset default properties */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

main ul {
  list-style-type: none;
}

/* Styling zone */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Top section */

body {
  font-family: "Hanken Grotesk", sans-serif;
}

body p {
  font-size: 18px;
}

main {
  height: 100vh;
}

.theBox {
  height: 100vh;
  width: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.resultSection {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 40%;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  padding: 0 30px 0 30px;
}

.resultSection h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
  font-size: 54px;
}

.resultSection h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.resultSection h3 {
  font-weight: 500;
}

.resultSection h3,
p {
  color: hsl(241, 100%, 89%);
}

.circleContainer {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 140px;
  height: 140px;
}

.resultSection .feedbackMessage {
  text-align: center;
}

.resultSection .feedbackMessage p {
  margin-top: 9px;
}

/* Lower section */

.summarySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 18px;

  width: 100%;
}

.summarySection li {
  display: flex;
  justify-content: space-between;
}

.summarySection ul {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 0 20px 20px 20px;
}

.summarySection svg {
  margin-right: 10px;

  position: relative;
  top: 2px;
}

.container {
  width: auto;
  height: 50px;

  padding: 15px;
  margin: 10px;

  border-radius: 10px;
}

.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  justify-content: center;

  position: relative;
}

.reaction {
  color: var(--text-ligt-red);
}

.memory {
  color: var(--text-orangey-yello);
}

.verbal {
  color: var(--text-green-teal);
}

.visual {
  color: var(--text-cobalt-blue);
}

.red {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.yellow {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.green {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.blue {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.summarySection .continueButton {
  background-color: var(--bg-dark-grey-blue);

  color: white;

  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.summarySection .grey {
  color: hsla(0, 0%, 50%, 0.6);
}

.continueButton:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .theBox {
    height: 50%;
    width: 650px;

    display: flex;
    align-items: center;
    flex-direction: row;

    border-radius: 30px;

    box-shadow: 15px 15px 30px var(--bg-pale-blue);
  }

  .resultSection {
    height: 100%;
    width: 50%;

    border-radius: 30px;

    padding: 0 30px 0 30px;
  }

  .summarySection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 18px;

    width: 50%;
  }
}
